body {
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
}

header{
/*  background-color: orange;*/
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}


a:link {
  color: black;
  font-size: 13px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

a:hover {
 text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.logo {
  display: inline-block;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
}

.inline {
   align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.relative {
  position: relative;
}

.icon:hover{
  height: 35px;
  width: 35px;
  border-radius:50%;
  background-color: #737373;
  border-color: #e6e6e6;
  box-shadow: 1px 1px 7px  #737373;
}

.icon1:hover{
  height: 25px;
  width: 25px;
  border-radius:1%;
  border-color: #e6e6e6;
  box-shadow: 0px 0px 5px  #737373;
}

.searchcontainer {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.searchicon {
  position: absolute;
  left: 20px;
  top: 19;
  margin: auto;
  display: flex;
  height: 20px;
  width: 20px;
}

.microphoneicon {
  position: absolute;
  right: 33px;
  top: 14px;
  margin: auto;
  display: flex;
  width: 18px;
}

input {
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  padding: 14px 80px;
  border-color: #e6e6e6;
  width: 470px;
  outline-style: none;
}

input:hover {
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  padding: 14px 80px;
  border-color: #e6e6e6;
  box-shadow: 1px 2px 10px #e6e6e6;
  width: 470px;
  outline-style: none;
}


.ButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

button {
  font-size: 12px;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 3.5px;
  padding: 10px 23px;
  background: hsl(0, 0, 80);
  margin-right: 10px;
  margin-left: 10px;
}

button:hover {
  font-size: 12px;
  cursor: pointer;
  border: solid;
  border-color: #b3b3b3;
  border-width: thin;
  border-radius: 3.5px;
  padding: 9px 22px;
  background: hsl(0, 0, 80);
}

.bottombar {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  right: 0px
}


a.link {
   color: blue;
}

a.grey {
  color: #737373;
}