body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;
}

p {
  font-size: 10px;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

a:link {
  color: black;
  font-size: 11px;
  text-decoration: none;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

a:visited {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}
.banner {
  padding: 10px;
  display: flex;
  align-content: center;
  width: 100%;
  height: 100px;
}

.center {
  margin: auto;
  width: 50%;
}

.padding {
  padding: 10px;
}
.relative {
  position: relative;
}

.topbar {
  padding-top: 10px;
  display: flex;
  align-content: center;
  height: 40px;
  width: 990px;
  /* background-color: rgb(222, 87, 243); */
}

.topspace {
  display: flex;
  align-content: center;
  height: 196px;
  /* width: 100%;
background-color: rgb(92, 92, 92); */
}

.logo {
  padding: 10px;
  display: flex;
  align-content: center;
  width: 100%;
  height: 100px;
  /* background-color: rgb(196, 143, 143); */
}

.searchcontainer {
  display: flex;
  justify-content: center;
  width: 27%;
}

#searchbar {
  border-radius: 100px;
  width: 100%;
}

.appsicon {
  margin: auto;
  display: flex;
  height: 15px;
  width: 15px;
}

.avataricon {
  margin: auto;
  display: flex;
  height: 25px;
  width: 25px;
}

.searchicon {
  position: absolute;
  left: -30px;
  top: 24px;
  margin: auto;
  display: flex;
  height: 20px;
  width: 20px;
}

.microphoneicon {
  position: absolute;
  right: -30px;
  top: 24px;
  margin: auto;
  display: flex;
  height: 23px;
  width: 18px;
}

#main {
  width: 500px;
}

.ButtonContainer {
  margin: 0;
  margin-bottom: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 00px;
}

button {
  font-size: 12px;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 3.5px;
  padding: 7px 23px;
  background: hsl(0, 0, 80);
}

.buttonDivider {
  width: 10px;
}

input {
  border-radius: 30px;
  border-style: solid;
  padding: 14px 80px;
  width: 470px;
}


.bottombar {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 990px;
}

.bottomleft {
  display: flex;
  justify-content: left;
  margin: auto;
}

.bottommiddle {
  display: flex;
  justify-content: center;
  margin: auto;
}

.bottomright {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.topright {
  display: flex;
  justify-content: right;
  margin-right: 5px;
}

.grey {
  color: rgb(79, 79, 79);
}

.darkgrey {
  background-color: rgb(241, 241, 241);
}
